<h2>Edit Profile</h2>

<%= form_for(@user) do |f| %>

  <div class="field">
    <%= f.label :first_name, "First Name" %><br />
    <%= f.text_field :first_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :last_name, "Last Name" %><br />
    <%= f.text_field :last_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>


  <div class="field">
    <%= f.label :city, "Home City" %><br />
    <%= f.text_field :city, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state, autofocus: true %>
  </div>

<h3>
  Please enter your password to confirm changes.
</h3>
  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirm Password" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Update Profile" %>
  </div>
<% end %>
