<a href=<%= @museum.website %> id="show-header">
  <h1><%= @museum.name %></h1>
</a>
<div id="show-img-container">
  <% unless @museum.photo.nil? %>
    <%= image_tag(@museum.photo, class: "museum-photo-show") %>
    <% end %>
</div>

<div class="row">
  <div class="small-12 large-6 columns" id="museum-information">
    <h4>Hours:</h4>
      <ul class ="no-bullet">
        <% @hours.each do |hour| %>
            <li><%= hour %></li>
        <% end %>
      </ul>
    <%= @museum.location %><br>
    <%= @museum.phone_number %><br>
    <%= link_to @museum.website, @museum.website %><br>
    Patron Rating: <%= @museum.rating %><br>
  </div>

  <div class="small-12 large-6 columns" id="review-form">
    <% if user_signed_in? %>
      <%= render "reviews/review_form" %>
    <% else %>
      <h4> Please sign in or create and account to leave your review. </h4>
    <% end %>
  </div>

</div>

<div class="row">

<h2>Reviews</h2>
   <% if @reviews %>
       <% @reviews.each do |review| %>
       <div class="small-8 small-centered" id="review">
         <div class="review-avatar">
           <% unless review.user.avatar.url.nil? then %>
            <%= image_tag review.user.avatar.url %>
           <% end %>
          <%= review.user.username %>'s thoughts:

        </div>

         <h2>Rating: <%= review.rating %></h2>
         <% if review.body %><p class="review-body"><%= review.body %></p>
        <h4 class="score" id="score_<%= review.id %>">
          Score: <%= review.score %>
        </h4>
        <div class="button-group" id="score-buttons">
          <button id="<%= review.id%>" class="button upvote">Upvote</button>
          <button id="<%= review.id%>" class="button downvote">Downvote</button>
        </div>

       <% end %>
        <br>
         <% if user_signed_in? && review.user == current_user%>
           <%= link_to 'Edit Review', edit_museum_review_path(review.museum, review) %>
           <%= link_to 'Delete Review', museum_review_path(review.museum, review), method: :delete %>
         <% end %>

         <% if user_signed_in? && current_user.admin %>
          <%= link_to 'Delete as Admin', admin_review_path(review), method: :delete %>
         <% end %>
       </div>
     <% end %>
   <% end %>
 </div>
