<h1><%= @museum.name %></h1>

Name: <%= @museum.name %><br>
Description: <%= @museum.description %><br>
Hours: <%= @museum.hours %><br>
Location: <%= @museum.location %><br>
Admission: <%= @museum.admission %><br>
