<h1><%= @museum.name %></h1>
Name: <%= @museum.name %><br>
Description: <%= @museum.description %><br>
Hours: <%= @museum.hours %><br>
Address: <%= @museum.location %><br>
Admission: <%= @museum.admission %><br>

<h2>Reviews</h2>
<%= render partial: "shared/review", collection: @reviews %>


<% if user_signed_in? %>
  <%= render "shared/review_form" %>
<% else %>
  <ul>
    <h4> Please sign in or create and account to leave your review. </h4>
    <li><%= link_to "Create Account", new_user_registration_path%></li>
    <li><%= link_to "Sign In", new_user_session_path%></li>
  </ul>
<% end %>
