<div class ="row">
  <h1><%= @museum.name %></h1>
</div>

<div class="row">
  <div class="small-12 large-6 columns" id="museum-information">
    <h4>Hours:</h4>
      <ul class ="no-bullet">
        <% @hours.each do |hour| %>
            <li><%= hour %></li>
        <% end %>
      </ul>
Address: <%= @museum.location %><br>
  </div>

<div class="small-12 large-6 columns" id="review-form">
  <% if user_signed_in? %>
    <%= render "reviews/review_form" %>
  <% else %>
  <h4> Please sign in or create and account to leave your review. </h4>
  <% end %>
</div>

</div>


<div class="row">

<h2>Reviews</h2>
   <% if @reviews %>
       <% @reviews.each do |review| %>
       <div class="small-8 small-centered" id="review">
         <h4>Rating: <%= review.rating %></h4>
        <p id="score_<%= review.id %>">
          Score: <%= review.score %>
        </p>
          <button id="<%= review.id%>" class="upvote">Upvote</button>
          <button id="<%= review.id%>" class="downvote">Downvote</button>
         <% if review.body %>
         <div class="small-12 columns">
          <p class="review-body"><%= review.body %></p>
        </div>
         <% end %>


         <% if user_signed_in? && review.user == current_user%>
           <%= link_to 'Edit This Review', edit_museum_review_path(review.museum, review) %><br>
           <%= link_to 'Delete This Review', museum_review_path(review.museum, review), method: :delete %>
         <% end %>

         <% if user_signed_in? && current_user.admin %>
          <%= link_to 'Delete as Admin', admin_review_path(review), method: :delete %>
         <% end %>
       </div>
     <% end %>
   <% end %>
 </div>
