<h1><%= @museum.name %></h1>
<h3>Rating: <%= @rating %></h3>
Name: <%= @museum.name %><br>
Description: <%= @museum.description %><br>
Hours: <%= @museum.hours %><br>
Address: <%= @museum.location %><br>
Admission: <%= @museum.admission %><br>
</p>

<h2>Reviews</h2>
<% if @reviews %>
  <% @reviews.each do |review| %>
    <h4>Rating: <%= review.rating %></h4>
    <% if review.body %>
      <p><%= review.body %></p>
    <% end %>

    <% if user_signed_in? && review.user == current_user%>
    <%= link_to 'Edit This Review', edit_museum_review_path(review.museum, review) %>
    <%= link_to 'Delete This Review', museum_review_path(review), method: :delete %>
    <% end %>
  <% end %>
<% end %>
<% if user_signed_in? %>
  <%= render "reviews/review_form" %>
<% else %>
  <ul>
    <h4> Please sign in or create and account to leave your review. </h4>
    <li><%= link_to "Create Account", new_user_registration_path%></li>
    <li><%= link_to "Sign In", new_user_session_path%></li>
  </ul>
<% end %>
