<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.1.2/foundation.min.css">
<script src="js/vendor/jquery.js"></script>
<script src="js/vendor/what-input.js"></script>
<script src="js/vendor/foundation.js"></script>
  <head>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text"><h4> Museum Reviews </h4></li>
      </div>

      <div class="top-bar-right">
        <ul class="menu horizontal">
          <% if user_signed_in? %>
              <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "Create Account", new_user_registration_path%></li>
              <li><%= link_to "Sign In", new_user_session_path%></li>
          <% end %>
        </ul>
        </ul>
      </div>
    </div>

    <% if notice == "Signed out successfully." %>
      <p class="notice" style="color:red"><%= notice %></p>
    <% else %>
      <p class="notice" style="color:green"><%= notice %></p>
    <% end %>

    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>


  </style>
</html>
